{{ onepasswordRead "op://Development/Development SSH/email" }} {{ onepasswordRead "op://Development/Development SSH/public key" }}
{{ onepasswordRead "op://Work/Work SSH/email" }} {{ onepasswordRead "op://Work/Work SSH/public key" }}
