[user]
    email = {{ onepasswordRead "op://Work/Work SSH/email" | quote }}
    signingKey = {{ onepasswordRead "op://Work/Work SSH/public key" | quote }}

[url "git@github-work:"]
    insteadOf = git@github.com:
    insteadOf = https://github.com/
